body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

header {
    background: #22c55e;
    padding: 15px 0;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.logo span {
    color: #c8ffcd;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.nav-links a.active {
    font-weight: bold;
    text-decoration: underline;
}

.profile-icon {
    margin-left: 20px;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #c8ffcd;
    object-fit: cover;
}

.cadastro-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cadastro-box {
    background: #fff;
    width: 100%;
    max-width: 450px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.cadastro-box h2 {
    font-size: 26px;
    margin-bottom: 5px;
}

.cadastro-box p {
    color: #666;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

input:focus {
    border-color: #22c55e;
}

.termos {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px 0;
}

.termos a {
    color: #22c55e;
    text-decoration: none;
}


.btn-enviar {
    width: 100%;
    background: #22c55e;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}


.login-text {
    margin-top: 15px;
}

.login-text a {
    color: #22c55e;
    text-decoration: none;
}
